/* Based on: https://github.com/lorenzos/Minixed */
ul.directorylisting li {
	display: block;
	list-style-type: none;
	overflow: hidden;
	padding: 10px 10px 10px 0;
}

ul.directorylisting li:hover {
	background-color: #f3f3f3;
}

ul.directorylisting li .date {
	text-align: center;
	width: 120px;
}

ul.directorylisting li .size {
	text-align: right;
	width: 90px;
}

ul.directorylisting li .date, ul li .size {
	float: right;
	display: block;
	color: #666666;
}

ul.directorylisting li {
	border-bottom: 1px solid #cccccc;
}

ul.directorylisting li:hover {
	background-color: transparent;
}

ul.directorylisting li * {
	color: #000000;
}

ul.directorylisting li a:hover {
	color: #666666;
}

ul.directorylisting li .asc span, ul#header li .desc span {
	padding-right: 15px;
	background-position: right center;
	background-repeat: no-repeat;
}

ul.directorylisting li.item .name {
	color: #003399;
}

ul.directorylisting li.item .name:hover {
	color: #0066cc;
}

ul.directorylisting li.item a:hover {
	text-decoration: underline;
}

ul.directorylisting li.item.directory, ul li.item.file {
	// padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
}

ul.directorylisting li.item.file:before,
input[type=checkbox] + label:before {
	content: '';
	width: 0.9em;
	height: 0.9em;
	margin-right: 0.25em;
	margin-bottom: .425rem;
	line-height: 0.9;
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}
ul.directorylisting li.item.file:before {
	background-image: url("data:image/svg+xml,%3Csvg width='1792' height='1792' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1596 380q28 28 48 76t20 88v1152q0 40-28 68t-68 28h-1344q-40 0-68-28t-28-68v-1600q0-40 28-68t68-28h896q40 0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22zm384 1528v-1024h-416q-40 0-68-28t-28-68v-416h-768v1536h1280zm-1024-864q0-14 9-23t23-9h704q14 0 23 9t9 23v64q0 14-9 23t-23 9h-704q-14 0-23-9t-9-23v-64zm736 224q14 0 23 9t9 23v64q0 14-9 23t-23 9h-704q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h704zm0 256q14 0 23 9t9 23v64q0 14-9 23t-23 9h-704q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h704z'/%3E%3C/svg%3E");
}
input[type=checkbox] + label:before {
	background-image: url("data:image/svg+xml,%3Csvg width='1792' height='1792' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1600 1312v-704q0-40-28-68t-68-28h-704q-40 0-68-28t-28-68v-64q0-40-28-68t-68-28h-320q-40 0-68 28t-28 68v960q0 40 28 68t68 28h1216q40 0 68-28t28-68zm128-704v704q0 92-66 158t-158 66h-1216q-92 0-158-66t-66-158v-960q0-92 66-158t158-66h320q92 0 158 66t66 158v32h672q92 0 158 66t66 158z'/%3E%3C/svg%3E");
}
input[type=checkbox]:checked + label:before {
	background-image: url("data:image/svg+xml,%3Csvg width='1792' height='1792' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1717 931q0-35-53-35h-1088q-40 0-85.5 21.5t-71.5 52.5l-294 363q-18 24-18 40 0 35 53 35h1088q40 0 86-22t71-53l294-363q18-22 18-39zm-1141-163h768v-160q0-40-28-68t-68-28h-576q-40 0-68-28t-28-68v-64q0-40-28-68t-68-28h-320q-40 0-68 28t-28 68v853l256-315q44-53 116-87.5t140-34.5zm1269 163q0 62-46 120l-295 363q-43 53-116 87.5t-140 34.5h-1088q-92 0-158-66t-66-158v-960q0-92 66-158t158-66h320q92 0 158 66t66 158v32h544q92 0 158 66t66 158v160h192q54 0 99 24.5t67 70.5q15 32 15 68z'/%3E%3C/svg%3E");
}

input[type=checkbox] {
	display:none;
}
input[type=checkbox] + label {
	font-weight: bold;
}
input[type=checkbox]:checked + label {
	font-style: italic;
}
ul.directorylisting ul.directorylisting {
	display: none;
}